.overflow-hidden {
  overflow: hidden;
}
.d-inline-block {
  display: inline-block !important;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 10px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.1);
}
.mainHolder {
  // width: 600px;
  height: 84px;
  background-color: transparent;
  // background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}
.test {
    // 
    width: 100%;
    height: 84px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: inherit;
    overflow: hidden;
    z-index: 9;
}
.test::before {
  content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    background-attachment: fixed;
    filter: blur(4px);
}
.test::after {
    content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.25);
}


@font-face {

  font-family: 'Harmony';

  // src: 
  /* IE9 Compat Modes */
  src: url('../assets//font/HarmonyOS_Sans_Regular.ttf')format('opentype')
}

