.overflow-hidden {
  overflow: hidden;
}
.d-inline-block {
  display: inline-block !important;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 10px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.1);
}

@font-face {

  font-family: 'Harmony';

  // src: 
  /* IE9 Compat Modes */
  src: url('../assets//font/HarmonyOS_Sans_Regular.ttf')format('opentype')
}

